<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button>
      </ion-back-button>
      <ion-title>
        <ion-icon></ion-icon> Detalle producto
      </ion-title>    
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <strong>Jueguetero de cedro</strong>
      <ion-note slot="end">
        <ion-chip color="danger" outline="true">
          <ion-label>
            <ion-icon name="close-circle-outline"></ion-icon>
          </ion-label>
        </ion-chip>
        <ion-chip color="success" outline="true">
          <ion-label (click)="updateProduct()">
            <ion-icon name="refresh-circle-outline"></ion-icon>
          </ion-label>
        </ion-chip>
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-slides>
        <ion-slide>
          <img src="assets/photo1" width="300px", height="400px">
        </ion-slide>
        <ion-slide>
          <img src="assets/photo1" width="300px", height="400px">
        </ion-slide>
        <ion-slide>
          <img src="assets/photo1" width="300px", height="400px">
        </ion-slide>
      </ion-slides>
    </ion-item>
  </ion-list>

</ion-content>