<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button>
      </ion-back-button>
      <ion-title>
        <ion-icon></ion-icon>{{product.name}}
      </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-content>

      <ion-card color="dark">
        <ion-card-content>
          <strong>Nombre del producto: {{product.name}}</strong>
          <p>Precio: ${{product.price}}</p>
          <p>Tamaño: {{product.size}}</p>
          <p>Color: {{product.color}}</p>
          <p>Material: {{product.material}}</p>

        </ion-card-content>
      </ion-card>

      <ion-card>
        <p style="text-align: center;">GALERÍA DEL PRODUCTO</p>
        <ion-slides mode="ios" pager="ios" class="slides">
          <ion-slide>
            <ion-img [src]= "product.image" ></ion-img>
          </ion-slide>
          <ion-slide>
            <img
              src="https://http2.mlstatic.com/librero-gaia-evo-madera-moderno-mueble-juguetero-gris-D_NQ_NP_709868-MLM40617985155_012020-O.webp"
              width="300px" height="400px">
          </ion-slide>
          <ion-slide>
            <img
              src="https://http2.mlstatic.com/librero-gaia-evo-madera-moderno-mueble-juguetero-gris-D_NQ_NP_993161-MLM40617972379_012020-F.webp"
              width="300px" height="400px">
          </ion-slide>
          <ion-slide>
            <img
              src="https://http2.mlstatic.com/librero-gaia-evo-madera-moderno-mueble-juguetero-gris-D_NQ_NP_806795-MLM40617958708_012020-O.webp"
              width="300px" height="400px">
          </ion-slide>
        </ion-slides>

      </ion-card>


    </ion-card-content>
    <ion-card>
      <ion-card-content >
        <ion-note slot="end">
          <strong>{{product.name}}</strong>
          <ion-chip color="danger" outline="true">
            <ion-label (click)="delete(product.id)">
              <ion-icon name="close-circle-outline"></ion-icon>
            </ion-label>
          </ion-chip>
          <ion-chip color="success" outline="true">
            <ion-label (click)="updateProduct()">
              <ion-icon name="refresh-circle-outline"></ion-icon>
            </ion-label>
          </ion-chip>
        </ion-note>
      </ion-card-content>
    </ion-card>
  </ion-card>


</ion-content>