<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button>
      </ion-back-button>
      <ion-title>
        <ion-icon></ion-icon>{{product.name}}
      </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-content>

      <ion-card color="dark">
        <ion-card-content>
          <strong>Nombre del producto: {{product.name}}</strong>
          <p>Precio: ${{product.price}}</p>
          <p>Tamaño: {{product.size}}</p>
          <p>Color: {{product.color}}</p>
          <p>Material: {{product.material}}</p>

        </ion-card-content>
      </ion-card>

      <ion-card>
        <p style="text-align: center;">GALERÍA DEL PRODUCTO</p>
        <ion-slides mode="ios" pager="ios" class="slides">
          <ion-slide>
            <ion-img src="{{product.slider1}}"></ion-img>
          </ion-slide>
          <ion-slide>
            <ion-img src="{{product.slider2}}"></ion-img>
          </ion-slide>
          <ion-slide>
            <ion-img src="{{product.slider3}}"></ion-img>
          </ion-slide>
          <ion-slide>
            <ion-img src="{{product.slider4}}"></ion-img>
          </ion-slide>
        </ion-slides>
      </ion-card>


    </ion-card-content>
    <ion-card [style.display]="areVisibleButtons ? 'block' : 'none'">
      <ion-card-content>
        <ion-note slot="end">
          <strong>{{product.name}} </strong>
          <ion-chip color="danger" outline="true" (click)="delete(product.id)">
            <ion-icon name="close-circle-outline"></ion-icon>
          </ion-chip>
          <ion-chip color="success" outline="true" (click)="detailProduct(product)">
              <ion-icon name="refresh-circle-outline"></ion-icon>
          </ion-chip>
        </ion-note>
      </ion-card-content>
    </ion-card>
  </ion-card>

</ion-content>