ion-card {
    margin:2%;
    max-width: 150px;
    width: 150px;
    max-height: 150px;
    height: 150px;
    display: inline-block;
    position:relative;
    text-align: center;

}

img {
    max-width: 100px;
    width: 100px;
    max-height: 100px;
    height: 100px; 
    display:block;
    margin:auto; 
}