<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button>
      </ion-back-button>
      <ion-title>
        <ion-icon name="refresh"></ion-icon> Actualizar producto
      </ion-title>    
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form class="ion-padding"> 
    <ion-item>
      <ion-label position="floating">Nombre del mueble <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input required type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Precio (#.##)<ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input required type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Material<ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input required type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Medidas<ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input required type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Color<ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input required type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Imagen<ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input required type="text"></ion-input>
    </ion-item>
  </form>
  <ion-button   style="padding-left: 50px; padding-right: 50px;" expand="block" color="success" fill="outline" shape="round" (click)="updateProduct()">
    Actualizar
  </ion-button>
</ion-content>