<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-icon name="add"></ion-icon> Nuevo producto
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form>
    <ion-item>
      <ion-label position="floating">Nombre del mueble <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input required type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Precio (#.##)<ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input required type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Material<ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input required type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Medidas<ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input required type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Color<ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input required type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Imagen<ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input required type="text"></ion-input>
    </ion-item>
  </form>
  <ion-button  expand="block" shape="round">
    Guardar
  </ion-button>
</ion-content>